.banner {
    height: 500px;
    background-color: #f5f5f5;
}

.banner .wrapper {
    height: 500px;
    background-image: url(../uploads/banner_1.png);
}

.banner .menu {
    float: left;
    width: 251px;
    height: 500px;
    background-color: rgba(0,0,0,0.8);
}

.banner .menu li {
    height: 50px;   
}

.banner .menu li a {
    display: block;
    line-height: 50px;
    color: #fff;
}

.banner .menu li a .type {
    margin-left: 36px;
    font-size: 16px;
}

.banner .menu li a .types {
    margin-left: 15px;
    font-size: 14px;
}

.banner .menu li a:hover {
    background-color: #27ba9b;
}

.banner .menu li a .pointer {
    display: block;
    float: right;
    margin-top: 19px;
    margin-right: 19px;
    width: 7px;
    height: 12px;
    background-image: url(../images/sprites.png);
    background-position: -40px -110px;
}

.banner .leftP a {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 228px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
}

.banner .rightP a {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 228px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
}

.banner .leftP a span {
    display: block;
    margin-left: 12px;
    margin-top: 11px;
    width: 12px;
    height: 22px;
    background-image: url(../images/sprites.png);
    background-position: 0 -70px;
}

.banner .rightP a span {
    display: block;
    margin-left: 18px;
    margin-top: 11px;
    width: 12px;
    height: 22px;
    background-image: url(../images/sprites.png);
    background-position: -40px -70px;
}

.newgoods {
    /* 这种商品图区域不要设置高度 */
    margin-top: 48px;
}

.newgoods .head {
    height: 29px;
    margin-bottom: 37px;
}

.newgoods .head h2 {
    float: left;
    /* width: 116px; */
    height: 29px;
    font-size: 29px;
    font-weight: 400;
    color: #333;
}

.newgoods .head .description {
    display: block;
    float: left;
    margin-left: 34px;
    margin-top: 11px;
    height: 16px;
    font-size: 16px;
    color: #999;
}

.newgoods .head a {
    display: block;
    float: right;
    margin-top: 11px;
    height: 16px;
    color: #999;
}

.newgoods .head a span,
.freshgoods .head .all span {
    display: block;
    float: right;
    margin-left: 13px;
    margin-top: 6px;
    width: 7px;
    height: 12px;
    background-image: url(../images/sprites.png);
    background-position: 0 -110px;
}

.newgoods .content li {
    float: left;
    margin-right: 8px;
    width: 304px;
    height: 405px;
    background-color: #f0f9f4;
}

.newgoods .content li a {
    display: block;
    width: 304px;
    height: 405px;
}

.newgoods .content li:nth-child(4n) {
    margin-right: 0;
}

.newgoods .content li img {
    width: 304px;
    height: 305px;
}

.newgoods .content li dl {
    margin-top: 22px;
    width: 304px;
    height: 57px;
    text-align: center;
}

.newgoods .content li dl dt {
    font-size: 20px;
    color: #333;
}

.newgoods .content li dl dd,
.freshgoods .content li dl dd {
    font-size: 23px;
    color: #9a2e1f;
}

.newgoods .content li dl dd span,
.freshgoods .content li dl dd span {
    font-size: 17px;
}

/* .freshgoods {
    margin-top: 47px;
} */

.freshgoods .head {
    margin-bottom: 34px;
    margin-top: 34px;
    height: 28px;
}

.freshgoods .head h2 {
    float: left;
    font-size: 29px;
    font-weight: 400;
    color: #333;
}

.freshgoods .head .all {
    display: block;
    margin-top: 6px;
    float: right;
    font-size: 16px;
    color: #999;
}

.freshgoods .head ul {
    float: right;
    margin-right: 65px;
    margin-top: 6px;
    height: 20px;
}

.freshgoods .head li {
    float: left;
}

.freshgoods .head li a {
    display: block;
    padding: 2px 7px;
    margin-right: 6px;
    height: 24px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #333;
}

.freshgoods .head li a:hover {
    background-color: #27ba9b;
    color: #fff;
}

.freshgoods .content .left {
    float: left;
}

.freshgoods .content .right {
    width: 1000px;
    float: left;
}

.freshgoods .content .right li {
    float: left;
    margin-left: 8px;
    width: 242px;
    height: 304px;
}

.freshgoods .content .right li:nth-child(-n+4) {
    margin-bottom: 3px;
}

.freshgoods .content .right .goods {
    display: block;
    position: relative;
    width: 242px;
    height: 304px;
}

.freshgoods .content .right .goods img {
    width: 184px;
    height: 184px;
    margin: 8px 29px 12px;
}

.freshgoods .content .right dl {
    margin-left: 29px;
    margin-right: 42px;
}

.freshgoods .content .right dl dt {
    font-size: 16px;
    color: #333;
}

.freshgoods .content .right .goods .hide {
    display: none;
    position: absolute;
    top: 218px;
    /* left为0 width减小时偶数图有间隙？？ */
    left: -2px;
    width: 241px;
    height: 84px;
    background-color: #27ba9b;
    color: #fff;
}

.freshgoods .content .right .goods .hide p {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
}

.freshgoods .content .right .goods .hide .shortLine {
    margin-top: 7px;
    margin-left: 58px;
    width: 125px;
    height: 2px;
    background-color: #a9dbcc;
}

.freshgoods .content .right .goods .hide .findMore {
    display: block;
    margin-top: 6px;
    height: 13px;
    font-size: 13px;
    text-align: center;
    color: #fff;
}

.freshgoods .content .right .goods:hover {
    border: 2px solid #27ba9b;
}

.freshgoods .content .right .goods:hover .hide {
    display: block;
}